img{
    background-color: rgb(248, 11, 11);
    width: 120px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid;
    border-color: rgb(248, 11, 11);
    box-shadow: 0px, 10px, 10px, rgb(87, 85, 85);
    
}