
.slugButton{
    color:white;
    background:#c00;
    
    border-radius:10px;
    width:35%;
    height:50px;

    font-size: 1rem;
    bottom: 10px;
    right: 10px;
    

    align-items: center;
   
}

