
.slugButton{
    color:white;
    background:#c00;
    
    border-radius:10px;
    width:35%;
    height:50px;

    font-size: 1rem;
    bottom: 10px;
    right: 10px;
    

    align-items: center;
   
}

@media (min-width: 200px){
    .slugButton{
        color: blue
    }
}

@media (min-width: 500px){
    .slugButton{
        color: brown
    }
}

@media (min-width: 800px){
    .slugButton{
        color: bisque
    }
}

@media (min-width: 1100px){
    .slugButton{
        color: blueviolet
    }
}

